In [1]:
import pandas as pd
import numpy

In [2]:
# Load of all .csv
# df_ubereats_centro = pd.read_csv(r'csv/ubereats-pizza-centro.csv')
# df_ubereats_alamos = pd.read_csv(r'csv/ubereats-pizza-alamos.csv')
# df_ubereats_juriquilla = pd.read_csv(r'csv/ubereats-pizza-juriquilla.csv')
# df_ubereats_milenio = pd.read_csv(r'csv/ubereats-pizza-milenio.csv')
# df_ubereats_refugio = pd.read_csv(r'csv/ubereats-pizza-refugio.csv')

df_ubereats_balvanera = pd.read_csv(r'csv/ubereats-pizza-balvanera.csv')
# df_ubereats_campanario = pd.read_csv(r'csv/ubereats-pizza-campanario.csv')
# df_ubereats_cerritocolorado = pd.read_csv(r'csv/ubereats-pizza-cerritocolorado.csv')
# df_ubereats_cimatario = pd.read_csv(r'csv/ubereats-pizza-cimatario.csv')
# df_ubereats_el_pueblito = pd.read_csv(r'csv/ubereats-pizza-el-pueblito.csv')

# df_rappi_centro = pd.read_csv(r'csv/rappi-pizza-centro.csv')
# df_rappi_alamos = pd.read_csv(r'csv/rappi-pizza-alamos.csv')
# df_rappi_juriquilla = pd.read_csv(r'csv/rappi-pizza-juriquilla.csv')
# df_rappi_milenio = pd.read_csv(r'csv/rappi-pizza-milenio.csv')
# df_rappi_refugio = pd.read_csv(r'csv/rappi-pizza-refugio.csv')

# df_rappi_balvanera = pd.read_csv(r'csv/rappi-pizza-balvanera.csv')
# df_rappi_campanario = pd.read_csv(r'csv/rappi-pizza-campanario.csv')
# df_rappi_cerritocolorado = pd.read_csv(r'csv/rappi-pizza-cerritocolorado.csv')
df_rappi_cimatario = pd.read_csv(r'csv/rappi-pizza-cimatario.csv')
# df_rappi_el_pueblito = pd.read_csv(r'csv/rappi-pizza-el-pueblito.csv')

frames = [
    # df_ubereats_centro, 
    # df_ubereats_alamos, 
    # df_ubereats_juriquilla, 
    # df_ubereats_milenio, 
    # df_ubereats_refugio, 
    df_ubereats_balvanera, 
    # df_ubereats_campanario, 
    # df_ubereats_cerritocolorado, 
    # df_ubereats_cimatario, 
    # df_ubereats_el_pueblito, 
    # df_rappi_centro, 
    # df_rappi_alamos, 
    # df_rappi_juriquilla, 
    # df_rappi_milenio, 
    # df_rappi_refugio, 
    # df_rappi_balvanera, 
    # df_rappi_campanario, 
    # df_rappi_cerritocolorado, 
    df_rappi_cimatario] 
    # df_rappi_el_pueblito]

# We concat all frames and ignore the current index to generate a new one
df = pd.concat(frames, ignore_index=True)

In [3]:
print('Size of the df: {} items'.format(df.count()['name']))

Size of the df: 2402 items

In [4]:
# Note that the price-food has MX$
df.loc[:,['name','rating','evals','name-food','price-food']]

,name,rating,evals,name-food,price-food
0,El Globo Citadina Querétaro,4.8,(497),Pastel Carrot Cake,MX$46.00
1,Piacere Italiano,4.4,(99),Insalata Greca,MX$155.00
2,Monkey Asado,3.8,(15),Papas gajo,MX$80.00
3,La Campana Café Bistro,NaN,NaN,Malteada,MX$84.00
4,Monkey Asado,3.8,(15),Hamburguesa master,MX$150.00
...,...,...,...,...,...
2399,Diktatur,4.3,NaN,Agua de Pepino 450 ml,50
2400,Brutus Pizza,4.8,NaN,Pizza Hawaiana,189
2401,Pizzeta,4.5,NaN,Helado Solero Paradise Frutos,32
2402,La Vieja Varsovia,NaN,NaN,Tocino Champiñones,138
2403,Tonino's Pizza,4.8,NaN,Jarra de Naranjada Grande,92

In [5]:
# Remove MX$ from price-food
df['price-food'] = df['price-food'].apply(lambda x: float(x[3:]) if not isinstance(x, float) else x)

# for index, row in df.iterrows():
#     print(float(row['price-food'][3:]) if not isinstance(row['price-food'], float) else row['price-food'])

In [6]:
df.loc[:,['name','name-food','price-food']]

                             name                      name-food  price-food
0     El Globo Citadina Querétaro             Pastel Carrot Cake        46.0
1                Piacere Italiano                 Insalata Greca       155.0
2                    Monkey Asado                     Papas gajo        80.0
3          La Campana Café Bistro                       Malteada        84.0
4                    Monkey Asado             Hamburguesa master       150.0
...                           ...                            ...         ...
2399                     Diktatur          Agua de Pepino 450 ml        50.0
2400                 Brutus Pizza                 Pizza Hawaiana       189.0
2401                      Pizzeta  Helado Solero Paradise Frutos        32.0
2402            La Vieja Varsovia             Tocino Champiñones       138.0
2403               Tonino's Pizza      Jarra de Naranjada Grande        92.0

[2404 rows x 3 columns]

In [7]:
# Get all "pizza" dataframes
dfPizzas = df[df['name-food'].str.contains("pizza", na=False, case=False)]
dfPizzas.reset_index(drop=True, inplace=True)
dfPizzas.loc[:,['name','name-food','price-food']]

,name,name-food,price-food
0,PANDINIS PIZZA,Pizza Hawaiana Especial Tamaño Grande,198.0
1,La neta alas y chelas,Pizza boloñesa,195.0
2,Pizza Rotonda,Pizza especial tropical,129.0
3,Benedetti's Pizza Amsterdam,Pizza Mediana Especialidad,238.0
4,PANDINIS PIZZA,Pizza Básica Tamaño Grande,129.0
...,...,...,...
546,Tonino's Pizza,Pizza Vegetariana,208.0
547,Trattoria La Nonna,Pizza Vegetariana,165.0
548,Pizza Tec,Pizza Hawaiana,84.0
549,Diktatur,Pizza Monsiváis,50.0
550,Brutus Pizza,Pizza Hawaiana,189.0

In [15]:
minPizza = dfPizzas.loc[dfPizzas['price-food'] == dfPizzas['price-food'].min()]

print('The pizzas with the lower price are:')
minPizza.loc[:,['name','name-food','price-food']]

The pizzas with the lower price are:

         name           name-food  price-food
220  Diktatur   Pizza Vegetariana        50.0
225  Diktatur        Pizza Verona        50.0
241  Diktatur         Pizza Muzza        50.0
338  Diktatur        Pizza Vegana        50.0
382  Diktatur      Pizza Caribeña        50.0
394  Diktatur          Pizza Miel        50.0
463  Diktatur   Pizza Franz Kafka        50.0
477  Diktatur           Pizza Bbq        50.0
488  Diktatur      Pizza Granjero        50.0
518  Diktatur  Pizza Metamorfosis        50.0
528  Diktatur         Pizza Sarte        50.0
549  Diktatur     Pizza Monsiváis        50.0

In [16]:
maxPizza = dfPizzas.loc[dfPizzas['price-food'] == dfPizzas['price-food'].max()]

print('The pizzas with the greatest price are:')
maxPizza.loc[:,['name','name-food','price-food']]

The pizzas with the greatest price are:

              name      name-food  price-food
448  Santa Fortuna  Pizza & Pasta       435.0

In [21]:
meanPizzaVal = dfPizzas['price-food'].mean()
meanPizza = dfPizzas.loc[dfPizzas['price-food'] == meanPizzaVal]

print(f'The mean price is ${meanPizzaVal}:')

The mean price is $180.3045372050817:

In [20]:
des=numpy.std(dfPizzas['price-food'])
desMu=numpy.std(dfPizzas['price-food'],ddof=1)

print("Desviación estandar de la poblacion:",des)
print("Desviacion estandar de la muestra:",desMu)

Desviación estandar de la poblacion: 63.012435880566606
Desviacion estandar de la muestra: 63.06969389863288